<footer class="footer">
  <div class="footer-container">
    <div class="footer-info">
        <i class="fas fa-leaf fa-between"></i>
    <div class="footer-texto">
        <h3 class="footer-logo">AgroChein</h3>
        <p>Segurança e agilidade para quem vive do campo.</p>
    </div>
</div>

    <div class="footer-links">
      <h4>Links Rápidos</h4>
      <ul>
        <li><a href="#beneficios">Benefícios</a></li>
        <li><a href="#como-funciona">Como Funciona</a></li>
        <li><a href="#fale-conosco">Contato</a></li>
      </ul>
    </div>

    <div class="footer-redes">
      <h4>Nos acompanhe</h4>
      <div class="social-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-whatsapp"></i></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 AgroChein. Todos os direitos reservados.</p>
  </div>
</footer>
